.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  justify-content: center;
}

.griditem {
  background: black;
  height: 30px;
  
}

.griditem:hover {
  background-color: yellow;
  transition: 1s ease-out;

}

.griditem:hover::after {
  background-color: black;
  
}

